<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <style>
    ul{
      list-style: none;
      display: flex;
      gap: 1rem;
    }
    a {
      text-decoration: none;
      font-size: 1.5rem;
    }
    li:nth-of-type(2){
      font-size: 1.5rem;
    }
  </style>
  <div>
    <ul>
      {% if user.is_authenticated %}
      
      <li>
        <a href="/logout">Logout</a>
      </li>
      <li>
        Welcome, {{user.username}}
      </li>
  
      {% else %}
      <li>
        <a href="/login">Login</a>
      </li>
  
      {% endif %}
    </ul>
  </div>
    
</body>
</html>
